<div class="row">
	<div class="col s12">
		<ul class="tabs tabs-fixed-width">
			<li class="tab"><a href="#" onclick="apretaste.send({command: 'RECARGAS'})">Recargas</a></li>
			<li class="tab"><a href="#" class="active">Ganadores</a></li>
			<li class="tab"><a href="#" onclick="apretaste.send({command: 'RECARGAS AYUDA'})">Ayuda</a></li>
		</ul>
	</div>
</div>

<div class="row">
	<% recharges.forEach(function(item) { %>
		<% var today = moment(item.bought).startOf('day').isSame(moment().startOf('day')) ? 'today' : ''; %>
		<div class="col s4 m2">
			<div class="card center-align <%= today %>" onclick="profile('<%= item.username %>')">
				<div class="content">
					<div class="person-avatar circle" face="<%= item.avatar %>" color="<%= item.avatarColor %>" size="40" online="1"></div>
					<div class="<%= item.gender %>">@<%= short(item.username) %></div>
				</div>
				<div class="action grey lighten-2 green-text">
					<%= moment(item.bought).format("DD/MM/YYYY") %>
					<br>
					<%= moment(item.bought).format("h:mm:ss A") %>
				</div>
			</div>
		</div>
	<% }) %>
</div>