<div class="row">
	<div class="col s12">
		<h1>Recarga diaria</h1>
		<p>Con la ayuda de nuestros sponsors, ofrecemos una recarga Cubacel al día. El primero que entre podrá obtenerla por §<%= price %> créditos. Si no la obtienes hoy, mañana estará disponible.</p>

		<% if (recharge) { %>
			<p>La recarga del día de hoy se la llevó <a href="#!" onclick="apretaste.send({'command':'PERFIL','data':{'username':'<%= recharge.username %>'}})">@<%= recharge.username %></a> a las <%= formatTime(recharge.inserted) %>. No te desanimes. Mañana habra otra recarga esperando por tí.</p>
		<% } else { %>
			<p>Usando el botón a continuación puede enviar una recarga al número <b><%= cellphone %></b>. Cambie su teléfono desde el perfil.</p>
			<a class="waves-effect waves-light btn" href="#!" onclick="apretaste.send({'command':'CREDITO PROCESAR','data':{'item':'CUBACEL_10'}})">Canjear por §<%= price %></a>
			<p><small>Las recargas se realizan manualmente. Pueden demorar hasta 3 días en llegarle.</small></p>
		<% } %>
	</div>
</div>

<!-- RECARGAS ANTERIORES -->
<div class="fixed-action-btn">
	<a class="btn-floating btn-large waves-effect waves-light green" href="#!" onclick="apretaste.send({'command':'RECARGAS ANTERIORES'})"><i class="material-icons">hourglass_empty</i></a>
</div>