<div class="row">
	<div class="col s12">
		<ul class="tabs tabs-fixed-width">
			<li class="tab"><a href="#" class="active">Recargas</a></li>
			<li class="tab"><a href="#" onclick="apretaste.send({command:'RECARGAS ANTERIORES'})">Ganadores</a></li>
			<li class="tab"><a href="#" onclick="apretaste.send({command:'RECARGAS AYUDA'})">Ayuda</a></li>
		</ul>
	</div>
</div>

<%
	var phoneDisabled = phone ? 'disabled' : '';
	var phoneMessage = phone ? '+'+phone : 'Agregue el número a recargar';
	var creditDisabled = Number(credit) >= Number(price) ? 'disabled' : '';
	var rechargeDisabled = (phoneDisabled == 'disabled' && creditDisabled == 'disabled')  ? '' : 'disabled';
%>

<div class="row">
	<div class="col s12">
		<ul class="collection">
			<li class="collection-item avatar <%= phoneDisabled %>">
				<i class="material-icons circle">looks_one</i>
				<span class="title">Agrega tu teléfono</span>
				<p><%= phoneMessage %></p>
				<a href="#!" onclick="apretaste.send({command:'RECARGAS TELEFONO'})" class="secondary-content">
					<i class="material-icons">create</i>
				</a>
			</li>

			<li class="collection-item avatar <%= creditDisabled %>">
				<i class="material-icons circle">looks_two</i>
				<span class="title">Gana crédito</span>
				<p>Tienes &sect;<%= credit %> de &sect;<%= price %></p>
				<a href="#!" onclick="apretaste.send({command:'CREDITO OBTENER'})" class="secondary-content">
					<i class="material-icons">help</i>
				</a>
			</li>

			<li class="collection-item avatar <%= rechargeDisabled %>">
				<i class="material-icons circle">looks_3</i>
				<span class="title">Canjea tu recarga</span>
				<% if(recharges.length == 0) { %>
					<p>Calculando recargas ...</p>
				<% } else { %>
					<% if(rechargeDisabled) { %>
						<p class="red-text">Requiere teléfono y crédito</p>
					<% } %>

					<p class="crossed-out">Recargas de hoy:</p>

					<ul class="times browser-default crossed-out">
						<% recharges.forEach(function(item) { %>
							<% var crossOut = moment(item.scheduled).isBefore(moment()) ? 'cross-out' : '' %>
							<li class="<%= crossOut %>"><%= moment(item.scheduled).format('hh:mm:ss A') %></li>
						<% }) %>
					</ul>

					<% if(!rechargeDisabled) { %>
						<a href="#captha" class="secondary-content modal-trigger">
							<i class="material-icons">arrow_forward</i>
						</a>
					<% } %>
				<% } %>
			</li>
		</ul>
	</div>

	<div class="col s12 small">
		La hora de Cuba es <span id="time"><%= time %></span>. Use esta hora como referencia. La demora de la respuesta puede hacerla diferente de la hora exacta.
	</div>
</div>

<!-- CAPCTHA -->
<div id="captha" class="modal">
	<div class="modal-content">
		<p>Vamos a hacerlo más interesante. ¿Cuál es el resultado de la siguiente operación?</p>
		<div class="row">
			<div class="col s6 right-align">
				<span class="green-text math-challenge"><%= operation %> =</span>
			</div>
			<div class="col s6">
				<input id="result" type="number">
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<a href="#!" onclick="pay()" class="waves-effect waves-green green-text btn-flat">Responder</a>
	</div>
</div>