<div class="row">
	<div class="col s12">
		<ul class="tabs tabs-fixed-width">
			<li class="tab"><a href="#" class="active">Recargas</a></li>
			<li class="tab"><a href="#" onclick="apretaste.send({command:'RECARGAS ANTERIORES'})">Ganadores</a></li>
			<li class="tab"><a href="#" onclick="apretaste.send({command:'RECARGAS AYUDA'})">Ayuda</a></li>
		</ul>
	</div>
</div>

<%
	var phoneDisabled = phone ? 'disabled' : '';
	var phoneMessage = phone ? '+'+phone : 'Agregue el número a recargar';
	var creditDisabled = Number(credit) >= Number(price) ? 'disabled' : '';
	var rechargeDisabled = (phoneDisabled == 'disabled' && creditDisabled == 'disabled')  ? '' : 'disabled';
%>

<div class="row">
	<div class="col s12">
		<ul class="collection">
			<li class="collection-item avatar <%= phoneDisabled %>">
				<i class="material-icons circle">looks_one</i>
				<span class="title">Agrega tu teléfono</span>
				<p><%= phoneMessage %></p>
				<a href="#!" onclick="apretaste.send({command:'RECARGAS TELEFONO'})" class="secondary-content">
					<i class="material-icons">create</i>
				</a>
			</li>

			<li class="collection-item avatar <%= creditDisabled %>">
				<i class="material-icons circle">looks_two</i>
				<span class="title">Gana crédito</span>
				<p>Tienes &sect;<%= credit %> de &sect;<%= price %></p>
				<a href="#!" onclick="apretaste.send({command:'CREDITO OBTENER'})" class="secondary-content">
					<i class="material-icons">help</i>
				</a>
			</li>

			<li class="collection-item avatar <%= rechargeDisabled %>">
				<i class="material-icons circle">looks_3</i>
				<span class="title">Canjea tu recarga</span>
				<% if(rechargeDisabled) { %>
					<p>Necesita número y crédito</p>
				<% } else if(recharges.length == 0) { %>
					<p>Calculando recargas ...</p>
				<% } else { %>
					<p>Recargas activas:</p>
					<ul class="times browser-default">
						<% recharges.forEach(function(item) { %>
							<li><%= moment(item.scheduled).format('hh:mm:ss A') %></li>
						<% }) %>
					</ul>
					<a href="#!" class="secondary-content" onclick="apretaste.send({command:'RECARGAS PAY'})">
						<i class="material-icons">arrow_forward</i>
					</a>
				<% } %>
			</li>
		</ul>
	</div>
</div>